<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqPdsXJisaUAOSwL2taFQMeabAHe-46Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>341840857960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.asu.sanyam.CommunityEventExplorer</string>
	<key>PROJECT_ID</key>
	<string>communityeventexplorer</string>
	<key>STORAGE_BUCKET</key>
	<string>communityeventexplorer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341840857960:ios:cb955072a7ea487e21e4dd</string>
</dict>
</plist>